html {
    font-family: "Georgia","Garamond","serif";
}
h1,h2 {
    background-color:#F0F0F0;
    color:#A4A400;
    text-decoration-line: underline;
    font-family: "Century Gothic", "Futura", "Verdana", "serif";
    } 
h1 {
    font-size: 22pt;
    font-weight: bold;
    text-align: center;

}
h2 {
    
    text-align: left;
    font-size: 18pt;
    font-weight: 100;
    font-weight: normal;
}
hr {
    height: 2px;
}

.filling {
    list-style: circle;
    color: black;
}

.comment {
    font-size: 14pt;
    background-color:#FFFFC8;
    font-style: italic;
    margin-left: 1cm;
    margin-right: 1cm;
}
.link {
    color: #A4A400;
    text-decoration-line: underline;
}