ul {
    list-style-type:none;
}
#at-plus-container {
    position: relative;
    display: block;
    margin: auto;
    width: 550px;
}
#bottom-positioner {
    position: absolute;
    margin: auto;
    top: 600px;
    left: 250px;
    width: 30px;
    height: 30px;
    background-color: rgba(152, 158, 209, 1);
    border-radius: 50%;
    border-style: solid;
    border-color: rgba(152, 158, 209, 1);
}

.info {
    font-size: 8px;
}
#white-icon {
    position: absolute;
    top: 2px;
    left: 2px;

}
#green-icon {
    
}
#control-ring-container{
    font-size: 8px;
}

.mask.button,.history.button,.message.button,.setting.button,.sign.button{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(104,104,104);
    transition-duration: .5s;
    opacity: 0;
}
#bottom-positioner:hover .mask.button{
    top: -40.150350544573215px;
    left: -57.340643100229435px;
    opacity: 100;
}
#bottom-positioner:hover .history.button{
    top: 0px;
    left: -70.0px;
    opacity: 100;
}
#bottom-positioner:hover .message.button{
    top: 40.15035054457321px;
    left: -57.34064310022944px;
    opacity: 100;
}
#bottom-positioner:hover .setting.button{
    top: 65.77848345501357px;
    left: -23.941410032796856px;
    opacity: 100;
}
#bottom-positioner:hover .sign.button{
    top: 67.61480784023479px;
    left: 18.11733315717642px;
    opacity: 100;
}


